In [1]:
import pandas as pd
import numpy as np


# Load the raw data
raw_data_copy = pd.read_csv("../data_raw/test.csv")

### Missing values in a required column

In [2]:
raw_data_copy.loc[::2, "Product_Category_1"] = np.nan
raw_data_copy.loc[::2, "Product_Category_1"][:10]

0    NaN
2    NaN
4    NaN
6    NaN
8    NaN
10   NaN
12   NaN
14   NaN
16   NaN
18   NaN
Name: Product_Category_1, dtype: float64

### Unknown values for a given feature

In [3]:
raw_data_copy.loc[::6, "City_Category"] = "Unknown"
raw_data_copy.loc[::6, "City_Category"][:10]

0     Unknown
6     Unknown
12    Unknown
18    Unknown
24    Unknown
30    Unknown
36    Unknown
42    Unknown
48    Unknown
54    Unknown
Name: City_Category, dtype: object

### Wrong value for a given feature

In [4]:
raw_data_copy.loc[::8, "Age"] = 999
raw_data_copy.loc[::8, "Age"][:10]

0     999
8     999
16    999
24    999
32    999
40    999
48    999
56    999
64    999
72    999
Name: Age, dtype: object

### String value in a numerical column

In [5]:
raw_data_copy.loc[::20, "Product_Category_3"] = 'abc'
raw_data_copy.loc[::20, "Product_Category_3"]

/var/folders/_c/p1x36y5n3dv4rpm9sgpjv0z00000gn/T/ipykernel_56741/2216374589.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'abc' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  raw_data_copy.loc[::20, "Product_Category_3"] = 'abc'

0         abc
20        abc
40        abc
60        abc
80        abc
         ...
233500    abc
233520    abc
233540    abc
233560    abc
233580    abc
Name: Product_Category_3, Length: 11680, dtype: object

### A required feature is missing

In [6]:
raw_data_copy.loc[::10,'Gender']=np.nan

### Duplicate rows

In [7]:
subset_data = raw_data_copy.iloc[14:20]
raw_data_copy = pd.concat([raw_data_copy, subset_data], ignore_index=True)
raw_data_copy[raw_data_copy.User_ID == 1000029]

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
15,1000029,P00111542,M,36-45,7,C,1,0,2.0,17.0,NaN
3796,1000029,P00177542,M,36-45,7,C,1,0,NaN,8.0,NaN
11670,1000029,P00193542,NaN,36-45,7,Unknown,1,0,NaN,2.0,NaN
15559,1000029,P00034042,M,36-45,7,C,1,0,1.0,2.0,16.0
39047,1000029,P00116142,M,36-45,7,C,1,0,10.0,13.0,16.0
50653,1000029,P0097242,M,36-45,7,C,1,0,1.0,16.0,NaN
54545,1000029,P00070042,M,36-45,7,C,1,0,1.0,2.0,16.0
58366,1000029,P00128942,M,36-45,7,C,1,0,NaN,11.0,NaN
58367,1000029,P00044442,M,36-45,7,C,1,0,1.0,16.0,NaN
62201,1000029,P00114942,M,36-45,7,C,1,0,1.0,15.0,16.0
66244,1000029,P00115142,M,36-45,7,C,1,0,NaN,8.0,17.0
70223,1000029,P00288742,M,36-45,7,C,1,0,16.0,NaN,NaN
85767,1000029,P00241642,M,36-45,7,C,1,0,1.0,2.0,11.0
93466,1000029,P00284842,M,36-45,7,C,1,0,NaN,8.0,17.0
124610,1000029,P00217142,NaN,36-45,7,C,1,0,NaN,15.0,NaN
128527,1000029,P00113642,M,36-45,7,C,1,0,8.0,NaN,NaN
128528,1000029,P00005042,M,999,7,C,1,0,NaN,16.0,NaN
128529,1000029,P00127642,M,36-45,7,C,1,0,1.0,2.0,15.0
144329,1000029,P00028042,M,36-45,7,C,1,0,1.0,16.0,NaN
144330,1000029,P00297842,NaN,36-45,7,Unknown,1,0,NaN,NaN,NaN
148238,1000029,P00346142,M,36-45,7,C,1,0,NaN,15.0,NaN
148239,1000029,P00348542,M,36-45,7,C,1,0,1.0,16.0,NaN
152070,1000029,P00162042,NaN,36-45,7,Unknown,1,0,NaN,6.0,NaN
155919,1000029,P00359242,M,36-45,7,C,1,0,1.0,5.0,17.0
167423,1000029,P00147942,M,36-45,7,C,1,0,1.0,16.0,NaN
167424,1000029,P00090942,M,999,7,Unknown,1,0,NaN,2.0,14.0
175253,1000029,P00113242,M,36-45,7,C,1,0,1.0,6.0,8.0
179237,1000029,P00237542,M,36-45,7,C,1,0,1.0,15.0,16.0
179238,1000029,P00341342,M,36-45,7,Unknown,1,0,NaN,8.0,17.0
179239,1000029,P00034442,M,36-45,7,C,1,0,1.0,14.0,16.0
233600,1000029,P00111542,M,36-45,7,C,1,0,2.0,17.0,NaN

### Incorrect data type

In [8]:
raw_data_copy.loc[::2, "Occupation"] = raw_data_copy.loc[::2, "Occupation"].astype(str)
raw_data_copy.loc[::2, "Occupation"]

/var/folders/_c/p1x36y5n3dv4rpm9sgpjv0z00000gn/T/ipykernel_56741/1662237730.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['7' '1' '1' ... '7' '3' '1']' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  raw_data_copy.loc[::2, "Occupation"] = raw_data_copy.loc[::2, "Occupation"].astype(str)

0          7
2          1
4          1
6          1
8          7
          ..
233596    15
233598     0
233600     7
233602     3
233604     1
Name: Occupation, Length: 116803, dtype: object

In [9]:
raw_data_copy.head(20)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,NaN,999,7,Unknown,2,1,NaN,11.0,abc
1,1000009,P00113442,M,26-35,17,C,0,0,3.0,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,NaN,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4.0,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,NaN,5.0,12.0
5,1000013,P00350442,M,46-50,1,C,3,1,2.0,3.0,15.0
6,1000013,P00155442,M,46-50,1,Unknown,3,1,NaN,11.0,15.0
7,1000013,P0094542,M,46-50,1,C,3,1,2.0,4.0,9.0
8,1000015,P00161842,M,999,7,A,1,0,NaN,13.0,16.0
9,1000022,P00067942,M,18-25,15,A,4+,0,5.0,14.0,NaN
10,1000026,P00046742,NaN,26-35,7,B,2,1,NaN,2.0,15.0
11,1000026,P00040042,M,26-35,7,B,2,1,5.0,NaN,NaN
12,1000026,P00196542,M,26-35,7,Unknown,2,1,NaN,8.0,14.0
13,1000026,P00004542,M,26-35,7,B,2,1,5.0,8.0,NaN
14,1000028,P00159542,F,26-35,1,C,2,1,NaN,15.0,16.0
15,1000029,P00111542,M,36-45,7,C,1,0,2.0,17.0,NaN
16,1000033,P00121042,M,999,3,A,1,1,NaN,NaN,NaN
17,1000033,P00344442,M,46-50,3,A,1,1,5.0,8.0,14.0
18,1000034,P00265242,F,18-25,0,Unknown,0,0,NaN,8.0,NaN
19,1000035,P0096642,M,46-50,1,C,4+,1,2.0,3.0,4.0

In [10]:
raw_data_copy.to_csv("../data_raw/data_with_errors.csv", index=False)